.signup-wrapper
    display: flex
    justify-content: centera
    align-items: center
    height: 100vh
    padding: 0 10px
    .signup
        flex-grow: 1
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        &_container
            background: $dark-gray
            display: flex
            flex-direction: column
            max-width: 400px
            width: 100%
            border: solid 1px $accent-blue
            box-shadow: 0 0 10px 10px $box-shadow-blue
            border-radius: 10px
            padding: 40px
            button
                width: 100%
        .signup-form
            display: flex
            flex-direction: column

@media (max-width: 500px)
    .signup-wrapper
        .signup
            &_container
                padding: 20px