.shown-recipe_wrapper
    display: flex
    height: 800px
    flex-basis: 50%
    border: solid 2px $accent-blue
    background: $dark-gray
    overflow: scroll
    .shown-recipe
        padding: 25px